* {
    margin : 0; 
    padding: 0;
    /*border : 1px solid;*/
}

body {
    background-color: #242F40;
    font-family: 'Open Sans'
}

#splash {
    margin: 50px 0 0 50px;
    color: #E5E5E5;
}

#toolbar {
    background-color: #CCA43B;
    height          : 25px;
    /*overflow        : hidden;*/
}

#toolbar .left {
    float: left;
}
#toolbar .right {
    float: right;
}

#toolbar .strong {
    font-weight: bold;
}

#toolbar span {
    padding: 1px 5px 1px 5px
}

#toolbar a:link {
    text-decoration: none;
    color: #363636;
}

#toolbar a:visited {
    color: #363636;
}

#toolbar  a.hover:hover {
    color: #E5E5E5;
}

#main {
    margin: 20px 0 0 20px;
    color: #E5E5E5;
}

#main .theater > .title {
    font-size: 20px;
}

#main .movie > .title {
    font-size: 15px;
}

#main .time {
    font-size: 10px;
}

#main .theaters .theater {
    float: left;
    width: 33.33%;
}

#main .theaters .theater a:link {
    text-decoration: none;
    color: #E5E5E5;
}

#main .theaters .theater a:visited {
    color: #FFFFFF;
}

#main .theaters .theater a:hover {
    color: #CCA43B;
}

#main .theaters .theater .movies {
    margin: 2px 100px 0 20px;
    list-style-type: none;
}

#main .theaters .theater .movies .movie {
    margin: 0;
    padding: 0;
    clear: left;
}

#main .theaters .theater .movies .movie .times {
    list-style-type: none;
}

#main .theaters .theater .movies .movie .times .time {
     display: inline;
     padding: 0 0 0 10px;
     float: left;
}

/*https://coolors.co/363636-242f40-cca43b-e5e5e5-ffffff*/